:root{
    --pink: pink;
    --celeste: #b2ffff;
    --morado: lavender;
    --azul: #89CFF
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1;
    background-color: blueviolet;
    color: pink;
    font-style: "Aclonica"; font-size:28px;
}

main {
    background-color:var(--celeste);
    color: black;
    font-style: "Aclonica"; font-size:15px;
}
/*zoom in animations-- Reference--code-boxx.com*/
    #Dali {
        width: 600px;
        height: auto;
        transition: transform ease-in-out 0.3s;
    }
    #Dali:hover { transform: scale(1.2); }

    /* */

    #quince {
        width: 600px;
        height: auto;
        transition: transform ease-in-out 0.3s;
    }
    #quince:hover { transform: scale(1.2); }

      /* */

         #starry {
        width: 600px;
        height: auto;
        transition: transform ease-in-out 0.3s;
    }
    #starry:hover { transform: scale(1.2); }

    /* */

    #wave {
        width: 600px;
        height: auto;
        transition: transform ease-in-out 0.3s;
    }
    #wave:hover { transform: scale(1.2); }

    /* */

    #picaso {
        width: 600px;
        height: auto;
        transition: transform ease-in-out 0.3s;
    }
    #picaso:hover { transform: scale(1.2); }